body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

h3 {
  color: #2c3e50;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  font-size: 1.2em;
  color: #fff;
}

section:nth-child(4n + 1) {
  background-color: #f44336;
}
section:nth-child(4n + 2) {
  background-color: #3f51b5;
}
section:nth-child(4n + 3) {
  background-color: #4caf50;
}
section:nth-child(4n + 4) {
  background-color: #d8c413;
}

.collection-item {
  font-size: 1.2rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sticky {
  box-shadow: 0 -5px 20px 1px #404040;
  transition: background-color 0.3s ease;
}

nav li a {
  transition: background-color 0.3s ease;
}

nav li a.active {
  background-color: #1e2f47;
}

h5 {
  font-weight: bold;
  text-decoration: underline;
}
